<div>
    <h1 class="card z-depth-3 center-align">Read the Latest from 'The Verge' in Tech</h1>
    <div class="row">
      <div class="col s3"></div>
      <h5 class="card z-depth-3 center-align col s6">Click 'Scrape' to get the latest articles</h5>
    </div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class ="col s8 left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        {{!-- links to article, eventually link to another page where i can grab the article from the body of the link --}}
        <p>Read article <a href="{{this.link}}{{!-- /readArticle/{{this.id}} --}}">here</a></p>
      </div>
    {{/each}}
  </div>
</div>