body{
  background: url('../img/motivo3-01.jpg') repeat;
  background-size: 600px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}


