  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Scrape The News</a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="/articles">Articles</a></li>
      </ul>
    </div>
  </nav>